*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.head{
    background-color: #2c3e50;
    color: white;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.head h1, h2{
    padding: 15px;
}

.main{
    background-color: rgb(230, 229, 228);
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main p{
    margin: 15px;
}

button{
    background-color: rgb(242, 93, 93);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    transition: ease-in;
}

button:hover{
    background-color: rgb(247, 129, 129);
}

footer{
    height: 15vh;
    background-color: rgb(4, 4, 123);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
